
html, body{
    height: 100%;
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

body{
    background: #fff;
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
    color: #828282;
    font-weight: 400;
    min-width: 320px;
}


a{
    font-family: Monserrat, sans-serif;
    font-weight: 700;
    font-size: 17px;
    color: #2cc7c1;
}
a:hover{
    color: #2cc7c1;
}

img{
    max-width: 100%;
    height: auto;
}

section{
    position: relative;
}

h2{
    font-family: Monserrat, sans-serif;
    font-size: 30px;
    margin-top: 0;
    text-transform: uppercase;
}

/*===================================header===================================================*/
#header{
    background: url(../img/2.jpg) center no-repeat;
    background-size: cover;
   /* height: 100vh;*/
    min-height: 500px;
    height: 100%;
}

.section-table{
    display: table;
    height: 100%;
    width: 100%;
}

.section-row{
    display: table-row;
}

.section-cell{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.section-center{
    max-width: 550px;
    display: inline-block;
}
#header h1{
    font-family: Monserrat, sans-serif;
    font-size: 31px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}

#header p{
    color: white;
    font-size: 20px;

}

.btn{
    font-family: Monserrat, sans-serif;
    font-size: 17px;
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    transition: background .5s;
}
.btn-primary{
    background: #7ea4e8;
}

.btn-primary:hover{
    background: #6787c2 ;
}

.btn-dark{
    background: #6a7079;
}

.btn-dark:hover{
    background: #474c52;
    color: #fff;
}

@media only screen and (max-width: 410px){
    #header{
        min-height: 300px;
    }
    .section-center{
        max-width: 320px;
    }
    #header h1{
        font-size: 20px;
    }

    #header p{
        font-size: 16px;
    }

    .section-btn{
        font-size: 14px;
    }
}